/*whole document body*/
body { 
	font-size: medium; 
	margin-left: 2%; 
	margin-right: 2%;
	font-family: optima, sans-serif;
}

/*images within links*/
a img{
text-decoration: none;
border-width: 0px;
}

/*all links*/
a{
	text-decoration: none;
	color: black;
}

/*hover over a link*/
a:hover{
	
}

/*list item*/
li {
	line-height : 150%;
}


