/*font size CSS sheet*/
/*three levels increase in fontsize and line spacing*/
/*AMIS will pick up the font-size value for the body element and use it in the sidebar.*/
body { 
	font-size: 170% !important;
	line-spacing: 150% !important;
}

h1, h2, h3, h4, h5, h6{
	font-size: 175% !important;
}
