/* Stylesheet for the form */

body { background-color: white; color: black; font-family: sans-serif; }
table { border-collapse: collapse; }
td { border: solid black thin; padding: 4px; }
select { border: solid black thin; }
textarea { background-color: #ffd; border: solid black thin; padding: 4px;
  margin-bottom: 4px; }
input { margin-left: 2em; }
.blank { margin-top: 90%; font-size: small; text-align: right; }
.ok { background-color: #dfd; }
.todo { background-color: #ffd; }
.check { background-color: #fdd; }
